#files_snapshots {
  table.settings {
    width: 100%;
    margin-bottom: 3em;

    td:first-child {
      width: 200px;
    }

    td:nth-child(2) input {
      width: 400px;
      max-width: calc(100% - 10px);
    }

    input[type=submit] {
      width: 100px;
    }
  }

  table.result {
    margin-top: 1em;
    width: 100%;

    td {
      padding: 5px;
    }

    tr.error td {
      border-bottom: none 0;
    }
  }

  div.loading {
    padding-top: 15em;
  }
}