#files_snapshots {
  label span {
      display: inline-block;
      min-width: 175px;
      padding: 8px 0px;
      vertical-align: top;
  }

  input[type='text'] {
    width: 400px;
    max-width: calc(100% - 10px);
  }

  div.settings {
    margin-bottom: 30px;
  }

  table.result {
    margin-top: 1em;
    width: 100%;

    td {
      padding: 5px;
    }

    tr.error td {
      border-bottom: none 0;
    }
  }

  div.loading {
    padding-top: 15em;
  }
}
